.post-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.post-title {
  font-size: 3rem;
}

.post {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.post-image {
  height: 500px;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.post-description {
  font-size: 1rem;
  color: #ababab;
}

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  flex: 2;
}

.post-content {
  height: -webkit-fill-available;
  white-space: break-spaces;
  font-size: 1.125rem;
  color: #333;
  line-height: 1.5rem;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.edit {
  cursor: pointer;
  background-color: #06F;
  width: max-content;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}