{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'posts/css/post.module.css' %}">
{% endblock %}

{% block content %}
  <section class="post-container">
    <h1 class="post-title">{{ post.title }}</h1>
    <p class="post-description">{{ post.description }}</p>
    <div class="post">
      <img src="../media/{{ post.image }}" alt="Post cover image" class="post-image">
      <div class="post-info">
        <p class="post-content">{{ post.content }}</p> 
        <div class="actions-container">
          {% if user == post.user or user.is_superuser %}
            <a href="{% url 'post-edit' post.id %}" class="edit">Edit</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}